streamlit
pandas
numpy
matplotlib
scikit-learn
audioread
sounddevice
flask==2.3.3
gunicorn==21.2.0
numpy==1.26.4
setuptools==68.0.0
wheel
librosa 
soundfile
speechrecognition
streamlit-webrtc==0.47.1
av
numpy
textblob
pydub
ffmpeg-python
aiortc==1.6.0
aioice==0.7.6
scipy